[submodule "3rd/stb_image"]
	path = 3rd/stb_image
	url = https://github.com/nothings/stb.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/tinyobjloader"]
	path = 3rd/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
